{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_block %} Login {% endblock title_block %}

{% block body_block %}
<div class="container">
    <h2 class="py-4 text-center font-weight-bold"> Login Account </h2>
    <form method='POST'>
        {{ form|crispy }}
        {% csrf_token %}
        <button type="submit" name="button" class='btn btn-success btn-sm'>Login</button>
    </form>
    <br>
    <p> Doesn't Have an Account? <a href="{% url 'App_Login:signup_view' %}">Signup Here</a> </p>
</div>
{% endblock body_block %}